.Container{ 
    width: 60%;
    margin: 0 auto;
    padding: 2rem; 
}
.MovieContainer{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}
.buttonsContainer{
    margin: 2rem 0;
    padding: 1rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    border-radius: 1rem 1rem 15rem 15rem;

    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);
}
.buttonContainer {
    display: flex;
    justify-content: center
}
@media screen and (max-width: 1200px) {
    .Container{
        width: 70%; 
    }
}
@media screen and (max-width: 900px) {
    .Container{
        width: 80%; 
    }
    .MovieContainer{
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: 1fr 1fr ;
    }
}
@media screen and (max-width: 600px) {
    .Container{
    
        width: 100%; 
    }
    .MovieContainer{
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: 1fr 1fr ;
    }
    .buttonsContainer{
        justify-content: center;
    }
}
@media screen and (max-width: 400px) {
    .Container{
    
        width: 100%; 
    }
    .MovieContainer{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr;
    }
}