.Container{
    padding: 1rem;
    background-color: var(--color-grey-light-4-transperant);
    color:  var(  --color-grey-dark-2);
    box-shadow: var(--shadow-dark);
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
}
.Container:hover{
    background-color: var(  --color-grey-light-5);
}
.Title{
    display: block;
    font-size: 0.8rem;
    color:  var(  --color-grey-dark-1);
    text-align: center;
}
.PosterContainer{
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 0.5rem;
}
.Poster{
    width: 100%;
    height: auto;
}
.Info{
    padding: 0.5rem;
    color:  var(  --color-grey-dark-2);
    text-align: center;
    font-size: 1rem;
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 900px) {
    .Title{
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 400px) {
    .Title{
        font-size: 0.8rem;
    }
}