body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;

  --color-secondary-light: #55c57a;
  --color-secondary: #7ed56f;
  --color-secondary-dark: #28b485;

  --color:#3368b8;
  --color-2:#a933b8;
  

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-light-5: #c5c3c3;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --color-grey-light-4-transperant: rgba(204, 204, 204, 0.4);


  --shadow-dark: 0 0.5rem 1rem rgba(0,0,0,0.2);
  --shadow-light: 0 2rem rem rgba(0, 0, 0, 0.15);
  --line: 1px solid var(--color-grey-light-2);

}
