.Header{
    height: 5rem;
    width: 100%;
    background-color: var(--color-grey-light-2);

}

.Container{
    width: 80%;
    /* background-color: var(--color-grey-light-4); */
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Container svg {
    height: 5rem;
    width: 5rem;
    padding: 0.5rem;
}

@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 900px) {
    .Container{
        width: 100%;
        padding: 0 2rem;
    } 
}
@media screen and (max-width: 600px) {
.Container{
    width: 100%;
    padding: 0;
}   
.Container > svg{
    display: none;
}
}
@media screen and (max-width: 400px) {

}